<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="/static/inbox.css">
</head>
<body>
    <div class="message-box">
        <div class="message-area">
            <div class="message">
                <div class="content">Hi there!</div>
                <div class="info">Ali | 26-04-2025</div>
            </div>
            <div class="message">
                <div class="content">Hi there!</div>
                <div class="info">Ali | 26-04-2025</div>
            </div>
            <div class="message">
                <div class="content">Hi there!</div>
                <div class="info">Ali | 26-04-2025</div>
            </div>
        </div>
        <div class="message-input"></div>
    </div>
    <script src="/static/inbox.js"></script>
</body>
</html>